html,
body {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #1a83af;
  background-color: #041627;
  background-image: linear-gradient( #041627, #123d66);
}

a {
  text-decoration: none;
}

a:link {
  color: #1a83af;
}

a:visited {
  color: #1a83af;
}

a:hover {
  color:  #31b2e9;
}

a:active {
  color:  #1a83af;
}

h1 {
  font-weight: 600;
  color: #76d5ff;
}

.logo {
  z-index: 3;
}

.ir {
  display: block;
  overflow: visible;
  padding: 0 0 100%;
  position: relative;
  height: 0;
  width: 100%;
}

.ir > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 4.8rem;
  text-align: center;
  width: 110rem;
  max-width: 100%;
}
.soc li {
  display: inline-block;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  height: 9.6rem;
  width: 9.6rem;
}

.sm-icon:hover {
  border-radius: 100%;
  fill: #041627;
  background: #1a83af;
  transform: scale(1.25);
  transition: background-color 0.5s, transform 0.5s ease-out;
}

.sm-icon {
  fill: #1a83af;
}

#Clouds {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto auto auto;
  height: 60%;
  overflow: hidden;
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Cloud {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 40px;
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: Float, FadeFloat;
          animation-name: Float, FadeFloat;
}
.Cloud.Foreground {
  height: 20%;
  min-height: 50px;
  z-index: -3;
}
.Cloud.Background {
  height: 10%;
  z-index: -6;
  min-height: 20px;
  -webkit-animation-duration: 210s;
          animation-duration: 210s;
}
@-webkit-keyframes Float {
  from {
    transform: translateX(100%) translateZ(0);
  }
  to {
    transform: translateX(-15%) translateZ(0);
  }
}
@keyframes Float {
  from {
    transform: translateX(100%) translateZ(0);
  }
  to {
    transform: translateX(-15%) translateZ(0);
  }
}
/*
@keyframes Float {
  from { transform: translateX(100%) translateY(-100%) translateZ(0); }
  50% { transform: translateX(55%) translateY(0) translateZ(0); }
  to { transform: translateX(-5%) translateY(-100%) translateZ(0); }
}
*/
@-webkit-keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}
@keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}
.Cloud:nth-child(10) {
  -webkit-animation-delay: -184.61538462s;
          animation-delay: -184.61538462s;
  top: 60%;
}
.Cloud.Foreground:nth-child(10) {
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
  height: 20%;
}
.Cloud.Background:nth-child(10) {
  -webkit-animation-duration: 110s;
          animation-duration: 110s;
  height: -3.40909091%;
}
.Cloud:nth-child(9) {
  -webkit-animation-delay: -166.15384615s;
          animation-delay: -166.15384615s;
  top: 54%;
}
.Cloud.Foreground:nth-child(9) {
  -webkit-animation-duration: 84s;
          animation-duration: 84s;
  height: 15.5%;
}
.Cloud.Background:nth-child(9) {
  -webkit-animation-duration: 114s;
          animation-duration: 114s;
  height: -2.15909091%;
}
.Cloud:nth-child(8) {
  -webkit-animation-delay: -147.69230769s;
          animation-delay: -147.69230769s;
  top: 48%;
}
.Cloud.Foreground:nth-child(8) {
  -webkit-animation-duration: 88s;
          animation-duration: 88s;
  height: 15%;
}
.Cloud.Background:nth-child(8) {
  -webkit-animation-duration: 118s;
          animation-duration: 118s;
  height: 5%;
}
.Cloud:nth-child(7) {
  -webkit-animation-delay: -129.23076923s;
          animation-delay: -129.23076923s;
  top: 42%;
}
.Cloud.Foreground:nth-child(7) {
  -webkit-animation-duration: 92s;
          animation-duration: 92s;
  height: 23.5%;
}
.Cloud.Background:nth-child(7) {
  -webkit-animation-duration: 122s;
          animation-duration: 122s;
  height: 3%;
}
.Cloud:nth-child(6) {
  -webkit-animation-delay: -110.76923077s;
          animation-delay: -110.76923077s;
  top: 36%;
}
.Cloud.Foreground:nth-child(6) {
  -webkit-animation-duration: 96s;
          animation-duration: 96s;
  height: 15%;
}
.Cloud.Background:nth-child(6) {
  -webkit-animation-duration: 126s;
          animation-duration: 126s;
  height: 4%;
}
.Cloud:nth-child(5) {
  -webkit-animation-delay: -92.30769231s;
          animation-delay: -92.30769231s;
  top: 30%;
}
.Cloud.Foreground:nth-child(5) {
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  height: 14.5%;
}
.Cloud.Background:nth-child(5) {
  -webkit-animation-duration: 130s;
          animation-duration: 130s;
  height: 2.84090909%;
}
.Cloud:nth-child(4) {
  -webkit-animation-delay: -73.84615385s;
          animation-delay: -73.84615385s;
  top: 24%;
}
.Cloud.Foreground:nth-child(4) {
  -webkit-animation-duration: 104s;
          animation-duration: 104s;
  height: 20%;
}
.Cloud.Background:nth-child(4) {
  -webkit-animation-duration: 134s;
          animation-duration: 134s;
  height: 4.09090909%;
}
.Cloud:nth-child(3) {
  -webkit-animation-delay: -55.38461538s;
          animation-delay: -55.38461538s;
  top: 18%;
}
.Cloud.Foreground:nth-child(3) {
  -webkit-animation-duration: 108s;
          animation-duration: 108s;
  height: 15.5%;
}
.Cloud.Background:nth-child(3) {
  -webkit-animation-duration: 138s;
          animation-duration: 138s;
  height: 8.34090909%;
}
.Cloud:nth-child(2) {
  -webkit-animation-delay: -36.92307692s;
          animation-delay: -36.92307692s;
  top: 12%;
}
.Cloud.Foreground:nth-child(2) {
  -webkit-animation-duration: 112s;
          animation-duration: 112s;
  height: 15%;
}
.Cloud.Background:nth-child(2) {
  -webkit-animation-duration: 142s;
          animation-duration: 142s;
  height: 6.59090909%;
}
.Cloud:nth-child(1) {
  -webkit-animation-delay: -18.46153846s;
          animation-delay: -18.46153846s;
  top: 6%;
}
.Cloud.Foreground:nth-child(1) {
  -webkit-animation-duration: 116s;
          animation-duration: 116s;
  height: 12.5%;
}
.Cloud.Background:nth-child(1) {
  -webkit-animation-duration: 146s;
          animation-duration: 146s;
  height: 7.84090909%;
}
.Cloud1 {
  background-image: url(../images/cloud1.png);
}
.Cloud2 {
  background-image: url(../images/cloud2.png);
}
.Cloud3 {
  background-image: url(../images/cloud3.png);
}
.Cloud4 {
  background-image: url(../images/cloud4.png);
}
.cloud-bg {
  width: 5090px;
  height: 272px;
  background-image: url(../images/cloud-bg.png);
  background-repeat: repeat-x;
  -webkit-animation-name: move-bg;
          animation-name: move-bg;
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.cloud-bg-fill {
  width: 100%;
  height: 70%;
  background-color: #0a253f;
}

.cloud-bg-wrapper {
  overflow:hidden;
  z-index: -1;
  position: absolute;
  top: 30%;
  width: 100%;
  height: 70%;
}

.legal {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ubuntu', sans-serif;
  color: #0054a3;
}

.legal-text {
  width: 70%;
}

@-webkit-keyframes move-bg {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
